@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 101vh;
    background: url(psd/Hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


.header {
    width: 100%;
    display: flex;
    padding: 1% 20%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: all 0.6s ease-in-out;
    z-index: 10000;
}

.header ul {

    display: flex;
    gap: 3rem;
    transition: all 0.6s ease-in-out;
}

.header ul li {
    list-style: none;
    transition: all 0.6s ease-in-out;
}

.header ul li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-family: 'Lato', sans-serif;
    /* transition: all 0.6s ease-in-out; */
}

.header ul li a:hover {
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #fff;
}

.sticky-nav {
    z-index: 10000;
    width: 100%;
    display: none;
    padding: 1% 20%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    transition: all 0.6s ease-in-out;
}


.sticky-nav ul {
    display: flex;
    gap: 3rem;
}

.sticky-nav ul li {
    list-style: none;
}

.sticky-nav ul li a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
}

.sticky-nav ul li a:hover {
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #000000;
}

main {
    margin-top: -4px;
}

#section_01 {
    position: relative;
    padding: 0% 20%;
    width: 100%;
    height: 100vh;
    background: url(psd/peak1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#First {
    color: #617290;
    padding: 3% 0% 0% 0%;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-indent: -18px;
}


#First div:nth-child(2) {
    color: #38445cee;
    font-size: 40px;
    font-weight: bold;
}

#lorem_01 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

#History {
    line-height: 100px;
}

#footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 20%;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: semi-bold;
    background: #414f6b;
    color: #63769d;
}

#Top {
    padding: 0% 20%;
}

#Climb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#second {
    color: #a0a7b5;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-indent: -18px;
}

#second div:nth-child(2) {
    font-family: 'Oswald', sans-serif;
    color: #38445cee;
    font-size: 40px;
    font-weight: bold;
}

#lorem_02 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.Box {
    width: 100%;
    background-color: #414f6b;
    padding: 0% 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Box div {
    padding: 1% 3%;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

.Box div:first-child {
    color: #414f6b;
    background-color: #b0b4be;
}

.Box div:nth-child(2) {
    color: #a0a7b5;
}

#Mountain_1 {
    width: 100%;
    height: 90vh;
    padding: 0% 20%;
    background: url(psd/MOUNTAIN_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Schedule {
    position: relative;
    top: 10%;
    width: fit-content;
    height: fit-content;
    color: #414f6b;
    background: #ffffffb4;
    padding: 3%;
}

.Schedule_Header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-bottom: 4%;
}

.Schedule_dates {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-bottom: 1%;
}

#Mountain_2 {
    display: none;
    width: 100%;
    height: 90vh;
    padding: 0% 20%;
    background: url(psd/MOUNTAIN_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
    left: 0;
    background-color: #414f6bcb;
    padding: 0.8% 20%;
}


.container img {
    /* cursor: grab; */
    cursor: pointer;
}
.container img:active {
    cursor: grabbing;
}

.owl-theme .owl-controls {
    margin-top: 0px;
}
#section_02{
    overflow: hidden;
}

.responsive{
    display: none;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    /* height: fit-content; */
    background-color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    flex-direction: column;
    /* gap: 0.5rem; */
    z-index: 10001;
}

.responsive div{    
    position: relative;
    /* margin: 40vh auto; */
    top: 50%;
    transform: translateY(-50%);
}

.responsive a{
    /* position: fixed; */
    padding:5% 5% 0% 5%;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.responsive img{
    position: fixed;
    top: 18px;
    right: 10%;
}

.toggle{
    display: none;
}
@media screen and (max-width: 680px) {
    .header ul, .sticky-nav ul{
        display: none;
    }
     
    .toggle{
        display: block;
    }

    .header,
    .sticky-nav {
        padding: 1% 10%;
        font-size: 12px;
    }

    .sticky-nav img:nth-child(2){
        width: 10px;
    }

    #section_01 {
        padding: 0% 10%;
    }
    

    #Top {
        padding: 0% 10%;
    }

    #Climb{
        padding: 0% 0% 5% 0%;
        flex-wrap: wrap;
        gap: 0rem;
    }

    .logo{
        width: 40px;
    }

    .logoX{
        width: 80px;
    }

    #footer{
        padding: 0%;
    }
}

@media screen and (max-width: 500px) {
    header {
        width: 100%;
        height: 48vh;
        background: url(psd/Hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .container img {
        width: 200px;
    }

    #First, #second{
        font-size: 80px;
    }

    #First div:nth-child(2), #second div:nth-child(2){
        font-size: 32px;
    }

    #Mountain_1, #Mountain_2{
        height: 50vh;
    }

    #section_01, #section_02{
        height: 70vh;
    }
    .container{
        padding: 5%;
    }
}

@media screen and (max-width: 380px) {
    .logo{
        width: 35px;
    }

    .logoX{
        width: 70px;
    }

}

@media screen and (max-width: 330px) {

.logo{
    width: 30px;
}

.logoX{
    width: 60px;
}

    .header ul li a, .sticky-nav ul li a{
        font-size: 8px;
    }

}

@media screen and (min-width: 2000px) {
    .Schedule{
        padding: 2%;
    }
}